@import (reference) "../css/common.less";

.bash-title{
    .titlec{
        margin-bottom: 6px;
        .flexshow;
        .bt-title{
            margin: 0;
            color: rgba(0, 166, 232, 0.888);
            font-weight: 400;
        }
        .bt-child{
            .flex;
        }
    }
}