
.ld{
    &.ld-pm{
        .menu-btn{
            height: 30px;
            width: 30px;
            background: url(../img/menu_gray.png) center no-repeat;
            background-size: 30px;
            border: 0;
            outline: none;
        }

        .menu-btn:hover, .menu-btn:active{
            background: url(../img/menu_blue.png) center no-repeat;
            background-size: 30px;
        }

        .pop{
            position: fixed;
            right: -320px;
            top: 0;
            bottom: 0;
            width: 100%;
            max-width: 320px;
        }

        .mode{
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            -ms-animation-fill-mode: forwards;
            -o-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-play-state : running;
        }

        .show{
            -webkit-animation: popin .2s;
            -moz-animation: popin .2s;
            -ms-animation: popin .2s;
            -o-animation: popin .2s;
            animation: popin .2s;
            .mode;
        }

        .hide{
            -webkit-animation: popout .2s;
            -moz-animation: popout .2s;
            -ms-animation: popout .2s;
            -o-animation: popout .2s;
            animation: popout .2s;
            .mode;
        }

        @keyframes popin
        {
            0% {right: -320px}
            100% {right:0;}
        }
        @keyframes popout
        {
            0% {right: 0;}
            100% {right: -320px;}
        }
    }
}
