@width: 280px;
@span: .2s;

.animation-mode{
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state : running;
}

.ld{
    &.ld-pm{
        .menu-btn{
            height: 30px;
            width: 30px;
            background: url(../img/menu_gray.png) center no-repeat;
            background-size: 30px;
            border: 0;
            outline: none;
        }

        .menu-btn:hover, .menu-btn:active{
            background: url(../img/menu_blue.png) center no-repeat;
            background-size: 30px;
        }

        .pop{
            position: fixed;
            right: -1 * @width;
            top: 0;
            bottom: 0;
            width: 100%;
            max-width: @width;
            overflow-y: auto;
            background: transparent;
        }

        .cover{
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.24) !important;
        }

        .show{
            -webkit-animation: popin @span;
            -moz-animation: popin @span;
            -ms-animation: popin @span;
            -o-animation: popin @span;
            animation: popin @span;
            .animation-mode;
        }

        .hide{
            -webkit-animation: popout @span;
            -moz-animation: popout @span;
            -ms-animation: popout @span;
            -o-animation: popout @span;
            animation: popout @span;
            .animation-mode;
        }

        @keyframes popin{
            0% {right: -1 * @width}
            100% {right: 0;}
        }
        @keyframes popout{
            0% {right: 0;}
            100% {right: -1 * @width;}
        }
    }
}

.bodyin{
    -webkit-animation: bodyin @span;
    -moz-animation: bodyin @span;
    -ms-animation: bodyin @span;
    -o-animation: bodyin @span;
    animation: bodyin @span;
    .animation-mode;
}

.bodyout{
    -webkit-animation: bodyout @span;
    -moz-animation: bodyout @span;
    -ms-animation: bodyout @span;
    -o-animation: bodyout @span;
    animation: bodyout @span;
    .animation-mode;
}

@keyframes bodyin{
    0% {margin-left: -1 * @width}
    100% {margin-left: 0;}
}
@keyframes bodyout{
    0% {margin-left: 0}
    100% {margin-left: -1 * @width;}
}
